@import "cloudsection.css";
:root {
--borderColor:#fff;
}
body, html {
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
   position: relative;
   
   
}


body, html {
margin: 0;

box-sizing: border-box;


}
.hero{
   margin: 0;
   
   position: relative;
   height: 88%;
   width: 100%;
   top: 0;
   left: 0;
   

}
.hero .background {
   position: absolute;
   left: 0;
   z-index: 2;
   width: 100%;
   object-fit: cover;
   pointer-events: none;
}
.hero #background-stretch {
   
  

   pointer-events: none;
}
#right-side {
   position: absolute;
   top: -2px;
   right: 0;
   z-index: 10;
   pointer-events: none;
}

/* .cloud-section{
   position: relative;
   z-index: 99;
   background: transparent;
   left:0;
   height: 10%;
   width: 110%;
} */



/* .cloud-section #cloud-effect{
   position: absolute;
   z-index: 100;
   
   top: -56%;
   left: -13%;
   height: 150px;
   width:250px;
   
}
.cloud-section #cloud-effect-01 {
   position: absolute;
   z-index: 99;
   
   top: -25.5%;
   left: -39%;
   height: 210px;
   width: 70px;
   transform: rotate(180deg);
}
.cloud-section #cloud-effect-02 {
   position: absolute;
   z-index: 99;
   
   top: 2%;
   right: -9%;
   height: 210px;
   transform: rotate(180deg);
} */


.s1 {
   position: relative;
   height: 88%;
   z-index: 10;

}

.s2 {
   position: relative;
   left: 0;
   top: 10%;
   z-index: 60;
   height: 100%;
   padding: 100px;
   width: 100%;
   background: #ffa500;
   margin: 0;
   
   overflow: hidden;

}

/* Hanging Frame effect */
.picture {
   width: 75%;
   height: 35rem;
   background: cornflowerblue;
   z-index: 11;
   position: relative;
   transform: translate(0, 100px);
   margin: 0 auto;
   margin-top: 15%;
   margin-bottom: 10%;

}
.hook {
   position: absolute;
   top: -22%; 
   width: 24px;
   height: 24px;
   background-color: #5c5c5d;
   margin: 0 auto 32px auto;
   border-radius: 50%;
   box-shadow: 0 2.6px 0 2.6px #a49c7c;
}
.hook:before {
   content: '';
   width: 6rem;
   height: 6rem;
   border: 5.4px solid #a49c7c;
   position: absolute;
   left: -40px;
   top: 45px;
   transform: rotate(45deg);
   z-index: -1;
   }
   .hook1 {
      left: 25%;
      
   }
   .hook2 {
      right: 23%;
      
   }



/* Section 1 */

.top-section {
   position: absolute;
   overflow: hidden;
   /* margin: 0 auto; */
   height: 150%;
   z-index: 12;
   top: 7%;
   left: 21%;
   border: 4px solid var(--borderColor);
   border-radius: 10.6% 10.6% 0 0;
   width: 64%;
   
}
a {
   text-decoration: none;
   color: #f2f3f4;
} 


.intro-wrapper{
   box-shadow: -1px 1px 4.8px -1px rgba(0, 0, 0, 0.75);
   position: relative;
   z-index: 59;
   height: 5%;
   border-radius: 18.6% 18.6% 0 0;
   /* display: grid;
   grid-template-columns: 1fr; */

   /* grid-template-areas: 
      "nav-wrapper nav-wrapper"
      "left-column right-column"; */
}
.nav-wrapper2 {
   position: relative;
   /* height: 30%; */
   grid-area: nav-wrapper;
   border: 1px solid var(--borderColor);
   border-top: none;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   

   background-color: var(--mainColor);
   padding: 10px;
}

/*Navigation section */
#navigation {
   position: absolute;
   margin: 0;
   top: 21%;
   right: 1%;
   width: 30%;
   height: 60%;
}
.flipBtn_checkbox{
   opacity: 0;
   cursor: pointer;
   pointer-events: all;
}
.flipBtnWrapper{
   width: 100%;
   height: 100%;
   position: relative;
   /* margin: 2% 4%; */
}
.outer-btn{
   content: '';
   position: absolute;
   top: 2%;
   left: -3%;
   bottom: 0;
   right: 0;
   width: 30%;
   padding: 25px 19%;
   overflow: hidden;
   background: #f9c4d2;
   border-radius: 0.5rem;
   box-shadow: 0 0 0 2.3px #b18597, -0.5rem 0.430rem 0 0 #ffe3e2; 
   transform: translate3d(0, 0.003rem, -1rem) rotateY(37deg) translate(0, 2%);
}


.flipBtnWrapper:hover .flipBtn{
   box-shadow: 0px 0px 4.8px #a8798d;
   transform: translate(0, 5%) rotateY(25deg);
   
}
.flipBtnWrapper:hover .outer-btn {
   padding: 22.6px 19%;
   transform: translate(0, 4%) rotateY(37deg);
}

.flipBtn,.flipBtn_checkbox,
.flipBtn_face {
   width: 60%;
   height: 100%;
   position: absolute;
}
.flipBtn_checkbox:checked + .flipBtn{
   transform: rotateX( 180deg ) rotateY(25deg);
   transition: 1.5s;
}

.flipBtn { 
   position: relative;
   left: -1.2%;
   border: 2px solid #b18597;
   border-radius: 0.50rem;
   
   transform: rotateY(25deg);

   transition: transform 2s;  
   transform-style: preserve-3d;  
   
   pointer-events: none;
   /* box-shadow: 0px 0px 4px #C7C7C7; */
   background: #ffe9e9;
}

.flipBtn_back{ 
   transform:  translateZ(-10px) rotateX(180deg);
   transition: transform 2s;
}
.flipBtn_front{
   transform: translateZ(10px);
   backface-visibility: hidden;
}
.flipBtn_back, .flipBtn_front {
   display: flex;   
   justify-content: center;
   align-items: center;
   
}

.flipBtn_mid {
   background-color: #b18597;
   border: 2px solid #b18597;
   transform: rotateX(90deg);
   transition: transform 2s;
   
   border-radius: 1rem 0.50rem 1rem 0.50rem;
   width: 90%;
   top: 82%;
   left: 4%;
   height: 11.4px;
}
.flipBtn_mid-fr {
   
   width: 12.3px;
   height: 80%;
   background-color: #b18597;
   border: 2px solid #b18597;
   border-radius: 0.67rem;
   transform: perspective(1000px) rotateY(90deg) rotateX(0deg);
   top: 2px;
   left: -9.5px;
}

.flipBtn_front a, .flipBtn_back a {
   text-decoration: none;
   color: #494646;
   letter-spacing: 3px;
   font-size: 1.3rem;
   font-weight: bold;
}
.flipBtn_front a {

   letter-spacing: 2.5px;
   transform: translate(28%); /*rotateY(14deg); */
   font-weight: 900;
}
.flipBtn_back a {
   transform: translate(55%);
}

   
   

   
   
   
   

.dots-wrapper {
   
   display: flex;
   height: 100%;
}

.browser-dots {
   background-color: rgba(70, 70, 70, 0.288);
   height: 20px;
   width: 20px;
   margin: 8px 14.2px 8px 14.2px;
   transform: translate(-15%, 20%) scale(1.5); 
   border-radius: 50%;
   position: relative;
   top: 0;
   left: 45%;
   overflow: hidden;
   /* box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75); */
}
.browser-dots:hover {
   cursor: pointer;
   filter: blur(0.5px);
   opacity: 0.64;

}

#dot1{
   background-color: #FC6058;
}
#dot2{
   background-color: #FEC02F;
   animation-delay: 0.4s;
}
#dot3{
   background-color: #2aca3e;
   animation-delay: 0.8s;
}


/* grey version */ 

.grey-version#dot1 , .grey-version#dot2, .grey-version#dot3{
   background-color: rgba(184, 184, 184, 0.63);
   box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
   overflow: hidden; 
}
.grey-version#dot1::before, .grey-version#dot2::before, .grey-version#dot3::before{
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   width: 18px;
   height: 20px;
   background-color: rgba(250, 250, 250, 0.2);
   box-shadow: inset 0 0 5px rgba(160, 151, 151, 0.5);


} 

/* water filling animation */

/* Spin animation */
@keyframes spin {
   0% {
      transform: translate(0) rotate(0deg);
   }
   100% {
      transform: translateY(-120%) rotate(500deg);
   }
}

.water-layer {
   position: absolute;
   visibility: hidden;
   /* bottom: -122%; */
   left: -5%;
   height: 125%;
   width: 125%;
   
   background: #581FD2;/*rgba(184, 184, 184, 1) ; */
   border-radius: 37%;
   /* animation: spin 5.8s ease-in-out infinite; */
}


/* Paint it button */ 
button, button:active {
   cursor: pointer;
   outline: none;
}
#dot4 {
   display: none;
   position: relative;
   right: 50%;
   padding: 16px 5%;
   background: #fff0f0;
   border: 2px solid #b18597;
   box-shadow: none;

   border-radius: 0.5rem;
   transform: translateY(-23%);
   transform-style: preserve-3d;
}
#dot4 img{
position: absolute;
transform: translate(-45%, -53%);
width: 2rem;
height: 2rem;
}
button#dot4::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #f9c4d2;
   border-radius: inherit;
   box-shadow: 0 0 0 2px #b18597, 0 0.230rem 0 0 #ffe3e2; 
   transform: translate3d(0, 0.47rem, -1rem);

}
button#dot4:hover {
   background: #ffe9e9;
   transform: translate(0, -0.25rem);
}

button#dot4:hover::before {
   box-shadow: 0 0 0 2px #b18597, 0 0.300rem 0 0 #ffe3e2;
   transform: translate3d(0, 0.4rem, -1rem);
}

button#dot4:active {
   background: #ffe9e9;
   transform: translate(0, -0.75rem);
   transition: 0.2s ease-out;
}




