:root {
   --mainColor: #092035; 
   --secondaryColor:#183250;

   --borderColor:#c1c1c1;

   --mainText:black;
   --secondaryText:#bac1c7;

   --themeDotBorder:#24292e;

   --previewBg:rgba(251, 249, 243, 0.753);
   --previewShadow: #f0e5c1;

   --btnBlue:linear-gradient(88deg, #0162c8, #55e7fc);
   --btnPurple: linear-gradient(85deg, #0162c8, #ff72c0);
   --buttonHoverBlue: linear-gradient(88deg, #074586, #2ac2da);
   --buttonHoverPurple: linear-gradient(85deg, #044c99, #c7408a);

   --submitBtn: #17a2b8;
}

#blue-mode {
   background-color: #526BC5;
   border-color: #526BC5;
}
#navigation a {
   color: #3a588d;
}
.theme-dot {
   box-shadow: none;
}

#skills li,
#preview h3 + p {
   color: #4b5156;
}



.num::after, .prev::after {
   border-right: 20px solid var(--mainColor);
   right: 0;
}


.greeting-wrapper {
   position: relative;
}

/* Neon Text filter for 1300px width and up*/

@media screen and (min-width: 1300px) {
   .txt {
   
      margin-top: 16px;
      transform: translate(0, 18px);
      color: #fff;
      
   }
   .txt::before {
      content: "Hi, I'm Marcell Hähnel";
      position: absolute;
      mix-blend-mode: difference;
      filter: blur(1.5px);
   }
   .gradient {
      background: linear-gradient(87.66519920293797deg, rgba(230, 56, 50,1) 27.6796875%,rgba(53, 6, 77,1) 100.4921875%);
      position: absolute;
      top: 29%;
      left: 24.3%;
      width: 620px;
      height: 67px;
      mix-blend-mode: multiply;
   }
   .dodge {
      background: radial-gradient(circle, white, black 15%) center / 23% 22%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 13%;
      bottom: 0;
      right: 0;
      width: 700px;
      height: 200px;
      transform: translate(5px, 15%);
      mix-blend-mode: color-dodge;
      animation: dodge-animate 3.3s linear infinite;
   
   }
   @keyframes dodge-animate {
      to {
         transform: translate(50%, 48%);
      }
   }
   .neon-wrapper {
      transition: none;
      display: inline-flex;
      position: relative;
      background: black; 
      justify-content: center;
      filter: brightness(200%);
   
      border: 1px solid var(--borderColor);
      border-bottom: none;
      border-top: 4px solid var(--borderColor);
      border-radius: 60% 60% 2% 2%;
      transform: translate(0, 20px);
   
   }
}